 
/* Adjustments depending on the selected layout */
.quick-chat-header {
    height: 64px;

    enterprise-layout &,
    modern-layout & {
        height: 80px !important;
    }
}


/* Overlay */
 

@keyframes addOverflowHidden {
    0% {
        overflow: visible
    }
    99% {
        overflow: visible;
    }
    100% {
        overflow: hidden;
    }
}
