<div class="flex flex-col items-center w-full h-full m-8">
    <div class="w-full items-center">
        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0"
        >
            <div
                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
            >
                <div class="flex items-start justify-between">
                    <div
                        class="text-lg font-medium tracking-tight leading-6 truncate"
                    >
                        Requests Overdue
                    </div>
                    <div class="ml-2 -mt-2 -mr-3">
                        <button mat-icon-button>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_mini:ellipsis-vertical'"
                            ></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                    <div
                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-400"
                    >
                        14
                    </div>
                    <div
                        class="text-lg font-medium text-red-600 dark:text-red-400"
                    >
                        requests
                    </div>
                    <div
                        class="flex items-baseline justify-center w-full mt-5 text-secondary"
                    >
                        <div class="text-md font-medium truncate">
                            Completed:
                        </div>
                        <div class="ml-1.5 text-lg font-semibold">13</div>
                    </div>
                </div>
            </div>

            <div
                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
            >
                <div class="flex items-start justify-between">
                    <div
                        class="text-lg font-medium tracking-tight leading-6 truncate"
                    >
                        Requests due today
                    </div>
                    <div class="ml-2 -mt-2 -mr-3">
                        <button mat-icon-button>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_mini:ellipsis-vertical'"
                            ></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                    <div
                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-yellow-500"
                    >
                        6
                    </div>
                    <div
                        class="text-lg font-medium text-yellow-600 dark:yellow-blue-500"
                    >
                        requests
                    </div>
                    <div
                        class="flex items-baseline justify-center w-full mt-5 text-secondary"
                    >
                        <div class="text-md font-medium truncate">
                            Completed:
                        </div>
                        <div class="ml-1.5 text-lg font-semibold">13</div>
                    </div>
                </div>
            </div>

            <div
                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
            >
                <div class="flex items-start justify-between">
                    <div
                        class="text-lg font-medium tracking-tight leading-6 truncate"
                    >
                        Pending requests
                    </div>
                    <div class="ml-2 -mt-2 -mr-3">
                        <button mat-icon-button>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_mini:ellipsis-vertical'"
                            ></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                    <div
                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500"
                    >
                        21
                    </div>
                    <div
                        class="text-lg font-medium text-blue-600 dark:text-blue-500"
                    >
                        requests
                    </div>
                    <div
                        class="flex items-baseline justify-center w-full mt-5 text-secondary"
                    >
                        <div class="text-md font-medium truncate">
                            Completed:
                        </div>
                        <div class="ml-1.5 text-lg font-semibold">13</div>
                    </div>
                </div>
            </div>

            <div
                class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden"
            >
                <div class="flex items-start justify-between">
                    <div
                        class="text-lg font-medium tracking-tight leading-6 truncate"
                    >
                        Unassigned
                    </div>
                    <div class="ml-2 -mt-2 -mr-3">
                        <button mat-icon-button>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_mini:ellipsis-vertical'"
                            ></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="flex flex-col items-center mt-2">
                    <div
                        class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-gray-500"
                    >
                        3
                    </div>
                    <div
                        class="text-lg font-medium text-gray-600 dark:text-gray-500"
                    >
                        requests
                    </div>
                    <div
                        class="flex items-baseline justify-center w-full mt-5 text-secondary"
                    >
                        <div class="text-md font-medium truncate">
                            Completed:
                        </div>
                        <div class="ml-1.5 text-lg font-semibold">13</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
